@import 'main.css';

.left-panel
  width 65%
  padding 2px
  margin-left 10px

.upper-left-section
  width 98%
  padding 2px
  margin-left 5px
  margin-bottom 10px

.project-selection
  width 58%
  margin-top 5px
  margin-left 10px
  min-height 100px
  form
    margin-top 10px
    margin-left 20px
    margin-bottom 20px
    label
      font-size 16px
    select
      width 90%
      height 30px

.wireframes
  width 37%
  margin-top 5px
  margin-left 10px
  min-height 100px
  text-align center
  padding 5px

.lower-left-section
  width 98%
  padding 2px
  margin-left 5px
  margin-bottom 10px

.user-stories
  width 98%
  margin-top 5px
  margin-bottom 10px
  min-height 100px
  text-align center
  padding 5px

  .user-story-item
    width 96%
    height 100px
    margin-left 10px
    margin-bottom 5px
    padding 5px
    text-align left