@import 'main.css';
.right-panel {
  width: 32%;
  padding: 2px;
  margin-left: 10px;
}
.task-list {
  width: 98%;
  min-height: 100px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}
.task-list .task-list-item {
  width: 95%;
  height: 60px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: left;
}
